<div class="container-fluid">
  <h1>Recipes</h1>
  <ul>
    <%= render @recipes %>
  </ul>
  <%= link_to "Simple Recipes", recipes_simple_recipes_path,  role: "button", class: "btn btn-primary" %>
</div>
