<img id="blueberry" class="bg" src="../../img/blueberry.jpeg">
<div class="container-fluid">
  <h1 id="text-white">Welcome to Blendspiration</h1>
  <h1 id="mainTitle"></h1>
  <div id="mainContent"></div>
</div>
<script id="ingredient-form-template" type="text/x-handlebars-template">
  <form id="ingredient-form" onsubmit="{{submitAction}};return false;">
    Name: <input type="text" id="name">
    <input type="submit">
  </form>
</script>
<script id="recipe-form-template" type="text/x-handlebars-template">
  <form id="recipe-form" onsubmit="{{submitAction}};return false;">
      Name: <input type="text"name="recipe[name]" id="recipe_name"><br>
     <h2>Ingredients</h2>
     <ol>

       <li>
           <select name="recipe[recipe_ingredients_attributes][0][ingredient_id]" id="recipe_recipe_ingredients_attributes_0_ingredient_id"><option value=""></option>
             {{#each ingredients}}
             <option value="{{id}}">{{name}}</option>
             {{/each}}
          </select>
           <label for="recipe_recipe_ingredients_attributes_0_quantity">Quantity</label>
           <input type="text" name="recipe[recipe_ingredients_attributes][0][quantity]" id="recipe_recipe_ingredients_attributes_0_quantity" />
           <label for="recipe_recipe_ingredients_attributes_0_unit">Unit</label>
           <select name="recipe[recipe_ingredients_attributes][0][unit]" id="recipe_recipe_ingredients_attributes_0_unit"><option value=""></option>
            <option value="tbs">tbs</option>
            <option value="tsp">tsp</option>
            <option value="cups">cups</option>
            <option value="quarts">quarts</option>
            <option value="pints">pints</option>
            <option value="grams">grams</option>
            <option value="pounds">pounds</option>
            <option value="units">units</option></select>
       </li>

    </ol>
     <label for="recipe_description">Description</label><br>
     <textarea name="recipe[description]" id="recipe_description"></textarea><br>
     <input  type="hidden" name="recipe[user_id]" id="recipe_user_id" />
     <input type="submit">
  </form>
</script>
