<img id="blueberry" class="bg" src="../../img/blueberry.jpeg">
<div class="container-fluid">
  <h1 id="text-white">Welcome to Blendspiration</h1>
  <h1 id="mainTitle"></h1>
  <div id="mainContent"></div>
</div>
<script id="ingredient-template" type="text/x-handlebars-template">
  <li id="ingredientId-{{id}}">{{name}}</li>
</script>
<script id="ingredient-form-template" type="text/x-handlebars-template">
  <form id="ingredient-form" onsubmit="{{submitAction}};return false;">
    Name: <input type="text" id="name">
    <input type="submit">
  </form>
</script>
<script id="recipe-template" type="text/x-handlebars-template">
    <h1 id="recipe_name">{{name}}</h1>
    <h3 id="recipe_user">{{user.email}}</h3>
     <h2>Ingredients</h2>
     <ol>
       {{#each recipe_ingredients}}
       <li>{{ingredient.name}} {{quantity}} {{unit}} </li>
       {{/each}}
    </ol>
     Description<p name="recipe[description]" id="recipe_description">{{description}}</p><br>
</script>
<script id="recipe-form-template" type="text/x-handlebars-template">
  <form id="recipe-form" onsubmit="{{submitAction}};return false;">
      Name: <input type="text"name="recipe[name]" id="recipe_name"><br>
     <h2>Ingredients</h2>
     <ol>
       {{#each recipe_ingredients}}
       <li>
           <select name="recipe[recipe_ingredients_attributes][{{id}}][ingredient_id]" id="recipe_recipe_ingredients_attributes_{{id}}_ingredient_id"><option value=""></option>
             {{#each ../ingredients}}
             <option value="{{id}}">{{name}}</option>
             {{/each}}
          </select>
           <label for="recipe_recipe_ingredients_attributes_{{id}}_quantity">Quantity</label>
           <input type="text" name="recipe[recipe_ingredients_attributes][{{id}}][quantity]" id="recipe_recipe_ingredients_attributes_{{id}}_quantity" />
           <label for="recipe_recipe_ingredients_attributes_{{id}}_unit">Unit</label>
           <select name="recipe[recipe_ingredients_attributes][{{id}}][unit]" id="recipe_recipe_ingredients_attributes_{{id}}_unit"><option value=""></option>
            <option value="tbs">tbs</option>
            <option value="tsp">tsp</option>
            <option value="cups">cups</option>
            <option value="quarts">quarts</option>
            <option value="pints">pints</option>
            <option value="grams">grams</option>
            <option value="pounds">pounds</option>
            <option value="units">units</option></select>
       </li>
       {{/each}}
    </ol>
     <label for="recipe_description">Description</label><br>
     <textarea name="recipe[description]" id="recipe_description"></textarea><br>
     <input type="submit">
  </form>
</script>
