<img id="blueberry" class="bg" src="../../img/blueberry.jpeg">
<div class="container-fluid">
  <h1 id="text-white">Welcome to Blendspiration</h1>
  <h1 id="mainTitle"></h1>
  <div id="mainContent"></div>
</div>
